<div class="jumbotron h100p w100p page-index margin0 padding0 unselectable-all color-white-all">
    <div class="color-overlay">
        <div class="margin-auto">
            <div class="navbar navbar-logo mb50px">
                <div class="container">
                    <div class="row pt60px pb60px">
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="navbar-header">
                                <div class="logo nowrap">
                                    Super Simple
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-xs-12">
                            <ul class="nav navbar-nav pull-right">
                                <li class="nav-item">
                                    <a class="nav-link" {{action 'willDestroyFunc' 'login'}}>Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" {{action 'willDestroyFunc' 'login'}}>Other</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" {{action 'willDestroyFunc' 'login'}}>About</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-index-body">
                <div class="container">
                    <div class="row text-center">
                        <h1 class="index-title">Super Simple Blog</h1>
                        <p class="help-block f18px">A blog for Chosan</p>
                        <a class="btn btn-link f16px" {{action 'willDestroyFunc' 'login'}}>Go visit</a>
                    </div>
                </div>
            </div>
            <div class="page-index-footer mt20px text-center">
                <p class="text-center f14px">Copyright &copy; 2015 - 2016 Chosan</p>
            </div>
        </div>
    </div>
</div>
{{view-like didInsertFunc=(action 'didInsert') willDestroyFunc=(action 'willDestroyFunc')}}
{{outlet}}
