<div class="art-list-body h100p">
    <div class="container-fluid h100p overflow-hidden">
        <div class="art-list-left col-sm-3 color-overlay col-sm-offset-1 pos-rel">
            <ul class="list-group opacity9">
                {{#each model.articleList.list as |item index|}}
                    <a href="#" class="list-group-item list-group-item-success text-overflow-ellipsis" {{action 'showText' index}}>
                        <span class="inline-block maxW-80p text-overflow-ellipsis">{{{item.article_title}}}</span>
                        {{#link-to 'showarticledetail' item.article_id}}
                            <i class="icon icon-double-angle-right pull-right hover-fff2ccc"></i>
                        {{/link-to}}
                    </a>
                {{/each}}
            </ul>

            <div class="pos-abs bottom0 mb-5px col-center w100p">
                {{page-bar pageData=model.articleList.pagebar turnPage=(action 'turnPage')}}
            </div>
        </div>

        <div class="art-list-right col-sm-6 color-overlay col-sm-offset-1 overflow-auto">
            <div class="show-art-text color-white text-bold word-break">
                {{{selectedArtText}}}
            </div>
        </div>
    </div>

</div>


{{view-like didInsertFunc=(action 'didInsertFunc') willDestroyFunc=(action 'willDestroyFunc')}}
{{outlet}}
